<div class="autocomplete-container">
  <div class="field-container">
    <input class="field-search"
           type="text"
           [(ngModel)]="query"
           (keyup)="filter()"
    >
    <label class="field-label" [ngClass]="{'active': query}">Search</label>
  </div>
  <div class="result-list-container" *ngIf="filteredList.length > 0 && isResult">
      <div *ngFor="let item of filteredList"
           class="list-item"
          (click)="selectedItem(item)"
      >
        <span>{{item}}</span>
      </div>
  </div>
</div>