@import '../variables';

.autocomplete-container {
  position: relative;

  .field-container {
    position: relative;
    padding-top: 1.2em;

    > .field-search {
      display: block;
      width: 100%;
      padding: 0 1em;
      background: transparent;
      border: none;
      border-radius: 3px 3px 0 0;
      border-bottom: 1px solid $light-gray-color;
      font-size: 1.5em;
      line-height: 1.5em;
    }

    .field-label {
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 1.2em;
      color: $medium-gray-color;
      transition: all 0.5s ease 0ms;
    }

    > .field-search:focus {
      border-bottom-color: $dark-gray-color;
    }

    > .field-search:focus ~ .field-label,
    > .field-label.active {
      top: 0;
      left: 0;
      font-size: 1em;
      color: $dark-gray-color;
    }
  }

  .result-list-container {
    position: absolute;
    width: 100%;
    max-height: 10.9em;
    font-size: 1.2em;
    overflow: auto;
    background: #fff;
    box-shadow: 0 3px 13px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;

    > .list-item {
      position: relative;
      padding: 0.8em 1em;
      cursor: pointer;
      transition: all 0.1s ease 0ms;

      &:hover {
        background-color: $field-bg-color;
      }
    }
  }
}