<div class="dropdown-select-container">
  <!-- Dropdown header -->
  <div class="selected-item" [ngClass]="{'open': expand}" (click)="expand = !expand">
    <span class="selected-name">{{selected.name}}</span>
    <span class="dropdown-icon fa fa-angle-down"></span>
  </div>

  <div class="dropdown-label">{{label}}</div>

  <!-- Dropdown list -->
  <div class="dropdown-list">
    <div class="list-option"
         *ngFor="let option of options"
         (click)="selectOption(option)"
    >
      <span>{{option.name}}</span>
    </div>
  </div>
</div>
