@import '../variables';

.dropdown-select-container {
  position: relative;
  width: 100%;
  padding-top: 1.2rem;

  .selected-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-bottom: 1px solid $light-gray-color;
    background-color: transparent;
    cursor: pointer;

    .selected-name {
      padding: 0.34em 0;
      color: $medium-gray-color;
      font-size: 1.2em;
    }

    .dropdown-icon {
      color: $medium-gray-color;
      font-size: 1.3em;
      transition: transform 0.3s ease 0ms;
    }

    &.open {
      border-bottom-color: $dark-gray-color;

      > .dropdown-icon {
        color: $dark-gray-color;
        transform: rotate(180deg);
      }

      ~ .dropdown-list {
        height: auto;
        max-height: 10.9em;
        font-size: 1.2em;
        box-shadow: -1px 2px 10px 1px $light-gray-color;
        overflow-y: auto;
      }

      ~ .dropdown-label {
        color: $dark-gray-color;
      }
    }
  }

  .dropdown-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    color: $medium-gray-color;
  }

  .dropdown-list {
    position: absolute;
    bottom: 0;
    max-height: 0;
    width: 100%;
    overflow-y: auto;
    background: $white-color;
    border-radius: 0 0 3px 3px;
    transform: translateY(100%);
    transition: all 0.3s ease 0ms;
    z-index: 5;

    > .list-option {
      padding: 0.8em 1em;
      cursor: pointer;

      &:hover {
        background-color: $field-bg-color;
      }
    }
  }
}
