<div *ngIf="history && history.length > 0"
     class="history-list-container"
>
  <h3>Last 10 used fonts:</h3>
  <ul>
    <li *ngFor="let item of history"
        class="history-item"
        [ngStyle]="{'font-family': item}"
        (click)="findFont(item)"
    >{{ item }}</li>
  </ul>
</div>
