.history-list-container {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;

  h3 {
    text-align: center;
    padding: 0.5em;
    box-shadow: 1px 0 4px #cacaca;
    color: #757575;
  }

  ul {
    max-height: calc(100% - 41px);
    list-style: none;
    overflow: auto;

    li {
      padding: 0.5em;
      border-bottom: 1px solid rgba(0,0,0, 0.05);
      font-size: 1.2em;
      letter-spacing: 0.05em;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        color: rgba(255,255,255,1);
      }
    }
  }
}