<div class="fonts-list-container">

  <!-- Fonts options -->
  <div class="fonts-options">
    <div class="option-block">
      <app-autocomplete [searchData]="currentFamilies"
                        (onSelected)="selectedFont($event)"
      ></app-autocomplete>
    </div>

    <div class="option-block">
      <app-dropdown-select [options]="sortOptions" [label]="'Sort by'" (onSelected)="selectedSort($event)"></app-dropdown-select>
    </div>
  </div>

  <!-- Fonts list -->
  <div class="fonts-block">
    <h2 *ngIf="!currentFonts; else loaded">Loading...</h2>
    <ng-template #loaded>
      <div class="fonts-list">
        <div class="font-container"
             *ngFor="let font of currentFonts; let index = index">
          <div class="font-card"
               [ngClass]="{'active': font['loaded'] && currentFont == font['family']}"
               (click)="font['loaded'] && fontChange({fontFamily: font['family']})"
          >
            <div class="font-text">

              <div *ngIf="!font['loaded']; else fontText" class="loader spinner"></div>
              <ng-template #fontText>
                <div [ngStyle]="{'font-family': font.family}">
                  {{ textEditor.pristine ? 'AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz' : textEditor['text'] }}
                </div>
              </ng-template>
            </div>
            <div class="font-title">{{font['family']}}</div>
            <div class="font-variants-icon"
                 *ngIf="font['loaded'] && font['variants'].length > 1"
                 (click)="toggleOptions($event, font)"
            >...</div>
            <div class="font-variants"
                 [ngClass]="{'open': font['isOpen']}"
                 *ngIf="font['loaded'] && font['variants'].length > 1"
                 (click)="toggleOptions($event, font)"
            >
          <span *ngFor="let variant of font['variants']"
                (click)="fontChange({fontFamily: font['family'], variants: variant})"
          >{{ variant }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Pagination -->
    <app-pagination *ngIf="paging.total" [paging]="paging" (onPage)="setPage($event)"></app-pagination>
  </div>
</div>
