@import '../variables';

.fonts-list-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  .fonts-options {
    display: flex;
    flex: 1 0 30%;
    padding: 10px 0 0 10px;
    font-size: 1rem;

    > .option-block {
      flex-basis: 50%;
      padding: 0 10px;

      @media all and (max-width: 1024px) {
        flex-basis: auto;
        padding: 0 0 10px;
      }
    }

    @media all and (max-width: 1024px) {
      flex-direction: column;
    }

    @media all and (max-width: 840px) {
      flex-basis: 100%;
      padding: 0;
    }

    @media all and (max-width: 600px) {
      font-size: 0.9rem;
    }
  }

  .fonts-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .font-container {
      flex-basis: 25%;
      padding: 10px;
      cursor: pointer;

      .font-card {
        position: relative;
        max-width: 100%;
        box-shadow: 0 3px 13px 2px $medium-gray-color;
        background: #fff;
        overflow: hidden;

        &.active {
          filter: sepia(0.29);
        }

        .font-text {
          min-height: 2em;
          padding: 8px 20px;
          font-size: 3rem;

          > div:not(.loader) {
            max-height: 1.5em;
            line-height: 1.5em;
            word-break: break-all;
            overflow: hidden;
          }

          @media all and (max-width: 600px) {
            padding: 4px 5px;
            font-size: 1.4rem
          }
        }

        .font-title {
          flex-grow: 1;
          padding: 3px 0;
          background: linear-gradient(135deg, #bbbbbb 0%, #d6d6d6 44%, #c9c9c9 68%, #bbbbbb 100%);
          font-size: 1.3rem;
          color: $dark-gray-color;
          text-align: center;
          text-shadow: 0 0 1px rgba(200, 200, 200, 1);
          box-shadow: -1px 0 4px $light-gray-color;
          word-break: break-word;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: all 0.2s ease 0ms;

          @media all and (max-width: 600px) {
            font-size: 0.9rem
          }
        }

        .font-variants-icon {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 1.5em;
          height: 1.5em;
          text-align: center;
          color: #000000;
          font-size: 1.4rem;
          text-shadow: 0 0 1px #000;
          cursor: pointer;

          &:hover {
            color: #7a7a7a;
          }

          @media all and (max-width: 600px) {
            top: 0;
            right: 0.5em;
            width: auto;
            height: auto;
            line-height: 0.5rem;
          }
        }

        .font-variants {
          position: absolute;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(135deg, rgba(187, 187, 187, 0.98) 0%, rgba(214, 214, 214, 0.98) 44%, rgba(201, 201, 201, 0.98) 68%, rgba(187, 187, 187, 0.98) 100%);
          overflow-y: auto;
          transform: translateY(100%);
          transition: all 0.5s ease 0ms;
          opacity: 0.5;
          cursor: initial;

          &.open {
            opacity: 1;
            transform: translateY(0);
          }

          > span {
            display: inline-block;
            padding: 5px 0;
            margin: 0 10px;
            font-size: 1.2em;
            border-bottom: 1px solid #7f7f7f;
            cursor: pointer;

            &:hover {
              border-bottom-color: #f3f3f3;
            }

            @media all and (max-width: 1024px) {
              font-size: 1em;
            }
          }
        }

        &.active-font {
          .font-title,
          .font-toolbar .toolbar-text {
            color: rgba(0, 0, 0, 0.5);
            background-color: #e8e8e8;
            text-shadow: 0 0 1px #e8e8e8;
          }
        }

        @media all and (max-width: 600px) {
          padding-top: 1rem;
          box-shadow: 0 2px 7px 1px $medium-gray-color;
        }
      }

      @media all and (min-width: 1025px) {
        &:nth-child(4n) {
          padding-right: 0;
        }
        &:nth-child(4n+1) {
          padding-left: 0;
        }
      }

      @media all and (max-width: 1024px) {
        flex-basis: 33.3334%;

        &:nth-child(3n) {
          padding-right: 0;
        }
        &:nth-child(3n+1) {
          padding-left: 0;
        }
      }

      @media all and (max-width: 425px) {
        &:nth-child(n) {
          flex-basis: 100%;
          padding: 5px 0;
        }
      }
    }

    @media all and (max-width: 840px) {
      margin-top: 15px;
    }
  }

  @media all and (max-width: 840px) {
    flex-wrap: wrap;
  }
}
