<main>
  <div class="block convert-container" id="convertText">
    <span *ngIf="!textEditor['edit']"
          (click)="textEditor['edit'] = !textEditor['edit']"
    >
      {{ textEditor['text'] }}
    </span>

    <div *ngIf="textEditor['edit']"
         class="editor-container"
    >
      <textarea [(ngModel)]="textEditor['text']" [(value)]="textEditor['text']"></textarea>
      <div class="btn-container">
        <button type="button"
                class="btn change-text-btn"
                (click)="changeText()"
        >Change text</button>
        <button class="btn close-editor-btn"
                (click)="textEditor['edit'] = !textEditor['edit'];"
        >Close</button>
      </div>
    </div>
    <div class="current-font">
      <span class="font-link" (click)="findFont(currentFont)">{{ currentFont }}</span>
      &nbsp;&nbsp;{{currentSize}}px
    </div>
  </div>

  <div class="block font-options-container">
    <app-range-slider></app-range-slider>
    <app-history-list (onFind)="findFont($event)"></app-history-list>
  </div>

  <app-fonts-list class="block" [textEditor]="textEditor"></app-fonts-list>
</main>
