@import './variables';

main {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;

  > .block {
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
  }

  .convert-container {
    position: relative;
    height: 300px;
    flex-basis: 70%;
    padding: 2rem 0 3rem;
    background-color: $white-color;
    box-shadow: 0 0 10px 1px $medium-gray-color;
    overflow: hidden;

    > span {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 2rem;
      overflow: auto;
      cursor: text;

      &::after {
        content: '\f040';
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        color: #c2c2c2;
        transform: translateX(-50%);
      }
    }

    > .editor-container {
      display: flex;
      padding: 0 10px;
      width: 100%;
      height: 100%;

      textarea {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #c2c2c2;
        box-shadow: inset 1px -1px 6px 1px #dadada;
        font: inherit;
        resize: none;
      }

      .btn-container {
        display: flex;
        flex-direction: column;

        .btn {
          flex: 1 0 auto;
          padding: 0 8px;
          border: 1px solid #c2c2c2;
          box-shadow: inset 0 0 6px 3px #fbfbfb, inset 0 0 20px 10px #f8f8f8, inset 0 0 30px 29px #efefef;
          background: #ececec;
          color: #6d6d6d;
          font-weight: 700;
          text-shadow: 0 0 1px #f2f2f2;
          cursor: pointer;
          transition: all 0.1s linear 5ms;

          &:hover {
            color: #4d4d4d;
            background: #dcdcdc;
            box-shadow: inset 0 0 6px 3px #ebebeb, inset 0 0 20px 10px #e8e8e8, inset 0 0 30px 29px #dfdfdf;
          }

          &:active {
            background: #bbb;
            box-shadow: inset 0 0 6px 3px #cbcbcb, inset 0 0 20px 10px #c8c8c8, inset 0 0 30px 29px #bfbfbf;
          }
        }

        .change-text-btn {
          flex-basis: 65%;
          border-radius: 0 5px 0 0;
          border-left-width: 0;
          border-bottom-width: 0;
        }

        .close-editor-btn {
          border-radius: 0 0 5px 0;
          border-left-width: 0;
        }
      }

    }

    .current-font {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2em;
      padding: 5px 10px;
      background: rgba(0, 0, 0, 0.5);
      color: #e8e8e8;
      font: initial;
      font-size: 1.3rem;
      line-height: 1.5em;
      text-align: right;
      text-shadow: 0 0 1px #000;

      > .font-link {
        color: inherit;
        text-decoration: underline;
        cursor: pointer;
      }

      @media all and (max-width: 840px) {
        font-size: 1.1rem;
      }
    }

    @media all and (max-width: 425px) {
      padding-top: 1rem;
    }
  }

  .font-options-container {
    display: flex;
    flex-basis: 30%;
    height: 300px;
    padding-left: 25px;
    flex-direction: column;

    app-history-list {
      display: flex;
      flex-grow: 1;
    }

    @media all and (max-width: 960px) {
      font-size: 0.9rem;
    }

    @media all and (max-width: 840px) {
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  @media all and (max-width: 960px) {
    padding: 10px 15px;
  }

  @media all and (max-width: 840px) {
    flex-direction: column;
  }
}
