/** Variable */
$white-color: #ffffff;
$black-color: #282828;
$main-gray-color: #f1f1f1;
$light-gray-color: #cacaca;
$medium-gray-color: #a0a0a0;
$dark-gray-color: #757575;
$field-bg-color: #f7f7f7;
$blue-color: #3a98e5;
