.pagination-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;

  .page-btn {
    min-width: 40px;
    margin: 20px 0;
    padding: 3px 15px;
    border: solid #d1d1d1;
    border-width: 1px 0 1px 0;
    background-color: #fff;
    color: rgb(49, 46, 46);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    cursor: pointer;

    &.left {
      border-radius: 10px 0 0 10px;
      border-left-width: 1px;
    }

    &.middle {
      border-radius: 0;
      border-left: 1px solid rgba(230, 230, 230, 0.96);
      border-right: 1px solid rgba(230, 230, 230, 0.96);
    }

    &.right {
      border-radius: 0 10px 10px 0;
      border-right-width: 1px;
    }

    &:not([disabled]):hover {
      background-color: rgba(193, 193, 193, 0.96);
      color: rgba(44, 65, 164, 0.96);
      transition: 0.3s;
    }

    &.active-page {
      background-color: rgba(40, 40, 40, 0.7);
      color: #e1e1e1;
    }

    @media all and (max-width: 960px) {
      padding: 3px 10px;
    }
    @media all and (max-width: 600px) {
      min-height: initial;
      font-size: 0.9rem;
      line-height: 1.5em;
    }
  }

  @media all and (max-width: 480px) {
    .page-btn.left,
    .page-btn.right {
      display: none;
    }
  }
}
