<div class="pagination-container"
     *ngIf="paging.total > 1"
>
  <span class="page-btn left" (click)="setPage(paging.page - 1)">Prev</span>
  <span class="page-btn middle" *ngIf="paging.page > 2" (click)="setPage(1)">1</span>

  <span class="page-btn middle" *ngIf="paging.page > 4">...</span>

  <span class="page-btn middle" *ngIf="paging.page === 4" (click)="setPage(3)">2</span>

  <span class="page-btn middle" *ngIf="paging.page > 1" (click)="setPage(paging.page - 1)">{{ paging.page - 1 }}</span>

  <span class="page-btn middle active-page" disabled>{{ paging.page }}</span>

  <span class="page-btn middle" *ngIf="paging.page < paging.total" (click)="setPage(paging.page + 1)">{{ paging.page + 1 }}</span>
  <span class="page-btn middle" *ngIf="paging.page + 3 === paging.total" (click)="setPage(paging.page + 2)">{{ paging.page + 2 }}</span>

  <span class="page-btn middle" *ngIf="paging.page + 3 < paging.total">...</span>

  <span class="page-btn middle" *ngIf="paging.page + 1 < paging.total" (click)="setPage(paging.total)">{{ paging.total }}</span>

  <span class="page-btn right" (click)="setPage(paging.page + 1)">Next</span>
</div>