@import '../variables';

.slider-container {
  position: relative;
  display: flex;
  padding-top: 1.2rem;
  align-items: center;

  input[type=range] {
    -webkit-appearance: none;
    flex: 1 0 auto;
    padding: 18px 0;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: linear-gradient(to right, #bbbbbb 0%, #d6d6d6 24%, #c9c9c9 78%, #bbbbbb 100%);
    }

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      box-shadow: 0 0 10px #a2a2a2;
      background: linear-gradient(135deg, rgba(41, 137, 216, 1) 0%, rgba(68, 164, 243, 1) 44%, rgba(55, 151, 230, 1) 58%, rgba(41, 137, 216, 1) 100%);
      -webkit-appearance: none;
      transform: translateY(-45%);
    }

    &:focus::-webkit-slider-thumb {
      filter: grayscale(0.4);
    }

    &::-moz-range-track {
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #bbbbbb 0%, #d6d6d6 24%, #c9c9c9 78%, #bbbbbb 100%);
    }

    &::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      box-shadow: 0 0 10px #a2a2a2;
      background: #2989D8;
      -webkit-appearance: none;
      transform: translateY(-45%);
    }

    &:focus::-moz-range-thumb {
      filter: grayscale(0.4);
    }

    &::-ms-track {
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #bbbbbb 0%, #d6d6d6 24%, #c9c9c9 78%, #bbbbbb 100%);
    }

    &::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &::-ms-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      box-shadow: 0 0 10px #a2a2a2;
      background: #2989D8;
      -webkit-appearance: none;
      transform: translateY(-45%);
    }

    &:focus::-ms-fill-lower {
      background: #3071a9;
    }

    &:focus::-ms-fill-upper {
      background: #367ebd;
    }
  }

  .slider-value {
    padding: 2px 0 2px 10px;
    margin-left: 1em;
    color: $dark-gray-color;
  }

  .slider-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    color: $medium-gray-color;
  }
}
