<div class="slider-container">
  <div class="slider-label">Size</div>
  <input type="range" class="slider" [(ngModel)]="fontSize" (ngModelChange)="changeSize(fontSize)" min="5" max="70">
  <div class="slider-value">{{fontSize}}</div>
</div>
