.loader {
  position: relative;
  font-size: 1em;

  &::after {
    content: 'Loading...';
    display: inline-block;
    margin-top: 0.25em;
    width: 100%;
    text-align: center;
  }

  &.spinner::after {
    content: '\f110';
    font-family: 'FontAwesome';
    animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-25 {
  flex-basis: 25%;
  width: 25%;
}

.w-50 {
  flex-basis: 50%;
  width: 50%;
}

.w-100 {
  flex-basis: 100%;
  width: 100%;
}
